In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import warnings
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score
#import lightgbm as lgb
import gc
import sys
warnings.filterwarnings('ignore')
plt.style.use('fivethirtyeight')

In [2]:
# Function to calculate missing values by column# Funct 
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
                # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)     
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [4]:
BureauBalance = pd.read_csv('/Users/LENOVO/Downloads/bureau_balance.csv').sort_values('SK_ID_BUREAU').reset_index().loc[:1000, :].drop(columns = ['index'])

In [5]:
#1- Cargo fichero bureau_balance.csv y veo cabecera 
#BureauBalance = pd.read_csv('/Users/LENOVO/Downloads/bureau_balance.csv', delimiter= ',' , header=0)
#BureauBalance.head()
BureauBalance
#BureauBalanceSNA.describe()
#BureauBalanceSNA = BureauBalance.dropna()
#BureauBalanceSNA

      SK_ID_BUREAU  MONTHS_BALANCE STATUS
0          5001709              -7      C
1          5001709              -3      C
2          5001709              -4      C
3          5001709              -5      C
4          5001709              -6      C
...            ...             ...    ...
996        5001732              -7      X
997        5001732              -8      X
998        5001732              -9      X
999        5001732             -10      X
1000       5001732             -11      X

[1001 rows x 3 columns]

In [6]:
BureauBalance.dtypes.value_counts()

int64     2
object    1
dtype: int64

In [7]:
#Función cuenta variables categoricas
def count_categoricas(df, group_var, df_name):
    """Calcula conteos y conteos normalizados para cada observación
    de `group_var` de cada categoría única en cada variable categórica
    
    Parámetros
    --------
    df : dataframe 
         El marco de datos para calcular el valor cuenta.
        
    group_var : string
        La variable por la cual agrupar el marco de datos. Para cada unico
        valor de esta variable, el marco de datos final tendrá una fila
        
    df_name : string
        Variable agregada al frente de los nombres de columna para realizar un seguimiento de las columnas

    
    Return
    --------
    categorical : dataframe
        Un marco de datos con recuentos y recuentos normalizados de cada categoría única en cada variable categórica
        con una fila por cada valor único de `group_var`
        
    """
    
    #Seleccion de las columnas categóricas
    categorica = pd.get_dummies(df.select_dtypes('object'))

    # Pone la de identificación en la columna
    categorica[group_var] = df[group_var]

    # Agrupa por el grupo var y calcula la suma y la media
    categorica = categorica.groupby(group_var).agg(['sum','mean'])
    
    column_names = []
    
    # Itera a través de las columnas en el nivel 0
    for var in categorica.columns.levels[0]:
        # Iterar a través de las estadísticas en el nivel 1
        for stat in ['count', 'count_norm']:
            # Genera un nuevo nombre de columna
            column_names.append('%s_%s_%s' % (df_name, var, stat))
    
    categorica.columns = column_names
    
    return categorica

In [8]:
#Función cuenta variables numéricas
def agg_numericas(df, group_var, df_name):
    """Agrega los valores numéricos en un marco de datos. Esto puede
    se utilizará para crear características para cada instancia de la variable de agrupación.
    
    Parameters
    --------
        df (dataframe): 
            el marco de datos para calcular las estadísticas
        group_var (string): 
            la variable por la cual agrupar df
        df_name (string):            
            la variable utilizada para renombrar las columnas
        
    Return
    --------
        agg (dataframe): 
            un marco de datos con las estadísticas agregadas para
            Todas las columnas numéricas. Cada instancia de la variable de agrupación tendrá
            las estadísticas (media, min, max, suma; actualmente admitidas) calculadas.
            Las columnas también se renombran para realizar un seguimiento de las características creadas.
    
    """
    # Elimina variables de identificación que no sean variables de agrupación
    for col in df:
        if col != group_var and 'SK_ID' in col:
            df = df.drop(columns = col)
            
    group_ids = df[group_var]
    numeric_df = df.select_dtypes('number')
    numeric_df[group_var] = group_ids

    # Agrupa por la variable especificada y calcula las estadísticas
    agg = numeric_df.groupby(group_var).agg(['count', 'mean', 'max', 'min', 'sum']).reset_index()

   #Crea nuevos nombres de columna
    columns = [group_var]

   #Itera a través de los nombres de las variables
    for var in agg.columns.levels[0]:
        # Salta la variable de agrupación
        if var != group_var:
            #Itera a través de los nombres de estadísticas
            for stat in agg.columns.levels[1][:-1]:
                # Hace un nuevo nombre de columna para la variable y estadística
                columns.append('%s_%s_%s' % (df_name, var, stat))

    agg.columns = columns
    return agg

In [9]:
#Recuento de cada tipo de estado de las variables CATEGORICAS para cada préstamo anterior por campo 'SK_ID_BUREAU'
BureauBalance_counts = count_categoricas(BureauBalance, group_var = 'SK_ID_BUREAU', df_name = 'bureau_balance')
#BureauBalance_counts.head()
#BureauBalance_counts.describe()
BureauBalance_counts

,bureau_balance_STATUS_0_count,bureau_balance_STATUS_0_count_norm,bureau_balance_STATUS_1_count,bureau_balance_STATUS_1_count_norm,bureau_balance_STATUS_C_count,bureau_balance_STATUS_C_count_norm,bureau_balance_STATUS_X_count,bureau_balance_STATUS_X_count_norm
SK_ID_BUREAU,,,,,,,,
5001709,0,0.000000,0,0.000000,86,0.886598,11,0.113402
5001710,5,0.060241,0,0.000000,48,0.578313,30,0.361446
5001711,3,0.750000,0,0.000000,0,0.000000,1,0.250000
5001712,10,0.526316,0,0.000000,9,0.473684,0,0.000000
5001713,0,0.000000,0,0.000000,0,0.000000,22,1.000000
5001714,0,0.000000,0,0.000000,0,0.000000,15,1.000000
5001715,0,0.000000,0,0.000000,0,0.000000,60,1.000000
5001716,27,0.313953,0,0.000000,39,0.453488,20,0.232558
5001717,17,0.772727,0,0.000000,5,0.227273,0,0.000000
5001718,24,0.615385,2,0.051282,3,0.076923,10,0.256410
5001719,2,0.046512,0,0.000000,41,0.953488,0,0.000000
5001720,29,0.805556,7,0.194444,0,0.000000,0,0.000000
5001721,13,0.152941,0,0.000000,72,0.847059,0,0.000000
5001722,27,0.313953,20,0.232558,39,0.453488,0,0.000000
5001723,8,0.258065,0,0.000000,0,0.000000,23,0.741935
5001724,0,0.000000,0,0.000000,22,0.709677,9,0.290323
5001725,7,0.875000,0,0.000000,0,0.000000,1,0.125000
5001726,6,0.153846,0,0.000000,33,0.846154,0,0.000000
5001727,23,0.242105,0,0.000000,72,0.757895,0,0.000000
5001728,1,1.000000,0,0.000000,0,0.000000,0,0.000000
5001729,6,0.857143,0,0.000000,1,0.142857,0,0.000000
5001730,5,0.081967,0,0.000000,56,0.918033,0,0.000000
5001731,0,0.000000,0,0.000000,0,0.000000,11,1.000000
5001732,0,0.000000,0,0.000000,0,0.000000,20,1.000000

In [10]:
# Calculo estadísticas de recuento de variables NUMERICAS para cada 'SK_ID_BUREAU' 
BureauBalance_agg = agg_numericas(BureauBalance, group_var = 'SK_ID_BUREAU', df_name = 'bureau_balance')
#BureauBalance_agg.head()
#BureauBalance_agg.describe()
BureauBalance_agg

,SK_ID_BUREAU,bureau_balance_MONTHS_BALANCE_count,bureau_balance_MONTHS_BALANCE_mean,bureau_balance_MONTHS_BALANCE_max,bureau_balance_MONTHS_BALANCE_min,bureau_balance_MONTHS_BALANCE_sum
0,5001709,97,-48.0,0,-96,-4656
1,5001710,83,-41.0,0,-82,-3403
2,5001711,4,-1.5,0,-3,-6
3,5001712,19,-9.0,0,-18,-171
4,5001713,22,-10.5,0,-21,-231
5,5001714,15,-7.0,0,-14,-105
6,5001715,60,-29.5,0,-59,-1770
7,5001716,86,-42.5,0,-85,-3655
8,5001717,22,-10.5,0,-21,-231
9,5001718,39,-19.0,0,-38,-741
10,5001719,43,-21.0,0,-42,-903
11,5001720,36,-17.5,0,-35,-630
12,5001721,85,-42.0,0,-84,-3570
13,5001722,86,-42.5,0,-85,-3655
14,5001723,31,-15.0,0,-30,-465
15,5001724,31,-15.0,0,-30,-465
16,5001725,8,-3.5,0,-7,-28
17,5001726,39,-19.0,0,-38,-741
18,5001727,95,-47.0,0,-94,-4465
19,5001728,1,0.0,0,0,0
20,5001729,7,-3.0,0,-6,-21
21,5001730,61,-30.0,0,-60,-1830
22,5001731,11,-5.0,0,-10,-55
23,5001732,20,-18.1,0,-35,-362

In [11]:
# Dataframe agrupando BureauBalance_agg con BureauBalance_counts por préstamo anterior
BureauBalance_by_loan = BureauBalance_agg.merge(BureauBalance_counts, right_index = True, left_on = 'SK_ID_BUREAU', how = 'outer')
#BureauBalance_by_loan.head()
#BureauBalance_by_loan.describe()
BureauBalance_by_loan

,SK_ID_BUREAU,bureau_balance_MONTHS_BALANCE_count,bureau_balance_MONTHS_BALANCE_mean,bureau_balance_MONTHS_BALANCE_max,bureau_balance_MONTHS_BALANCE_min,bureau_balance_MONTHS_BALANCE_sum,bureau_balance_STATUS_0_count,bureau_balance_STATUS_0_count_norm,bureau_balance_STATUS_1_count,bureau_balance_STATUS_1_count_norm,bureau_balance_STATUS_C_count,bureau_balance_STATUS_C_count_norm,bureau_balance_STATUS_X_count,bureau_balance_STATUS_X_count_norm
0,5001709,97,-48.0,0,-96,-4656,0,0.000000,0,0.000000,86,0.886598,11,0.113402
1,5001710,83,-41.0,0,-82,-3403,5,0.060241,0,0.000000,48,0.578313,30,0.361446
2,5001711,4,-1.5,0,-3,-6,3,0.750000,0,0.000000,0,0.000000,1,0.250000
3,5001712,19,-9.0,0,-18,-171,10,0.526316,0,0.000000,9,0.473684,0,0.000000
4,5001713,22,-10.5,0,-21,-231,0,0.000000,0,0.000000,0,0.000000,22,1.000000
5,5001714,15,-7.0,0,-14,-105,0,0.000000,0,0.000000,0,0.000000,15,1.000000
6,5001715,60,-29.5,0,-59,-1770,0,0.000000,0,0.000000,0,0.000000,60,1.000000
7,5001716,86,-42.5,0,-85,-3655,27,0.313953,0,0.000000,39,0.453488,20,0.232558
8,5001717,22,-10.5,0,-21,-231,17,0.772727,0,0.000000,5,0.227273,0,0.000000
9,5001718,39,-19.0,0,-38,-741,24,0.615385,2,0.051282,3,0.076923,10,0.256410
10,5001719,43,-21.0,0,-42,-903,2,0.046512,0,0.000000,41,0.953488,0,0.000000
11,5001720,36,-17.5,0,-35,-630,29,0.805556,7,0.194444,0,0.000000,0,0.000000
12,5001721,85,-42.0,0,-84,-3570,13,0.152941,0,0.000000,72,0.847059,0,0.000000
13,5001722,86,-42.5,0,-85,-3655,27,0.313953,20,0.232558,39,0.453488,0,0.000000
14,5001723,31,-15.0,0,-30,-465,8,0.258065,0,0.000000,0,0.000000,23,0.741935
15,5001724,31,-15.0,0,-30,-465,0,0.000000,0,0.000000,22,0.709677,9,0.290323
16,5001725,8,-3.5,0,-7,-28,7,0.875000,0,0.000000,0,0.000000,1,0.125000
17,5001726,39,-19.0,0,-38,-741,6,0.153846,0,0.000000,33,0.846154,0,0.000000
18,5001727,95,-47.0,0,-94,-4465,23,0.242105,0,0.000000,72,0.757895,0,0.000000
19,5001728,1,0.0,0,0,0,1,1.000000,0,0.000000,0,0.000000,0,0.000000
20,5001729,7,-3.0,0,-6,-21,6,0.857143,0,0.000000,1,0.142857,0,0.000000
21,5001730,61,-30.0,0,-60,-1830,5,0.081967,0,0.000000,56,0.918033,0,0.000000
22,5001731,11,-5.0,0,-10,-55,0,0.000000,0,0.000000,0,0.000000,11,1.000000
23,5001732,20,-18.1,0,-35,-362,0,0.000000,0,0.000000,0,0.000000,20,1.000000

In [12]:
#2- Cargo fichero bureau.csv
Bureau = pd.read_csv('/Users/LENOVO/Downloads/bureau.csv').sort_values('SK_ID_BUREAU').reset_index().loc[:1000, :].drop(columns = ['index'])
#Bureau = pd.read_csv('/Users/LENOVO/Downloads/bureau.csv', delimiter= ',' , header=0)
Bureau
#Bureau.describe()
#BureauSNA = Bureau.dropna()
#BureauSNA

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,166497,5000000,Closed,currency 1,-2918,0,-2613.0,-2639.0,NaN,0,29443.50,0.00,NaN,0.0,Consumer credit,-2512,NaN
1,166497,5000001,Closed,currency 1,-1015,0,-831.0,-891.0,2223.855,0,13810.50,0.00,0.000,0.0,Consumer credit,-891,NaN
2,166497,5000002,Closed,currency 1,-149,0,-26.0,-26.0,0.000,0,13455.00,0.00,0.000,0.0,Consumer credit,-23,NaN
3,166497,5000003,Closed,currency 1,-135,0,230.0,-42.0,0.000,0,37350.00,0.00,0.000,0.0,Consumer credit,-42,NaN
4,166497,5000004,Active,currency 1,-47,0,320.0,NaN,0.000,0,315127.62,315127.62,0.000,0.0,Consumer credit,-17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,207261,5001044,Closed,currency 1,-532,0,-263.0,-263.0,0.000,0,108313.65,0.00,0.000,0.0,Consumer credit,-263,NaN
997,207261,5001045,Active,currency 1,-456,0,NaN,NaN,0.000,0,117000.00,99499.50,17499.825,0.0,Credit card,-18,NaN
998,110828,5001046,Closed,currency 1,-1301,0,-934.0,-990.0,NaN,0,450000.00,0.00,0.000,0.0,Consumer credit,-969,NaN
999,110828,5001047,Closed,currency 1,-2665,0,-1569.0,-2578.0,NaN,0,945000.00,0.00,NaN,0.0,Car loan,-2578,NaN
1000,110828,5001048,Closed,currency 1,-2396,0,-570.0,-1809.0,NaN,0,2553862.50,0.00,NaN,0.0,Car loan,-1809,NaN

In [13]:
# Fusion para incluir la SK_ID_CURR
BureauBalance_by_loanMerge = BureauBalance_by_loan.merge(Bureau[['SK_ID_BUREAU', 'SK_ID_CURR']], on = 'SK_ID_BUREAU', how = 'left')
BureauBalance_by_loanMerge
#BureauBalance_by_loanMerge.head()

,SK_ID_BUREAU,bureau_balance_MONTHS_BALANCE_count,bureau_balance_MONTHS_BALANCE_mean,bureau_balance_MONTHS_BALANCE_max,bureau_balance_MONTHS_BALANCE_min,bureau_balance_MONTHS_BALANCE_sum,bureau_balance_STATUS_0_count,bureau_balance_STATUS_0_count_norm,bureau_balance_STATUS_1_count,bureau_balance_STATUS_1_count_norm,bureau_balance_STATUS_C_count,bureau_balance_STATUS_C_count_norm,bureau_balance_STATUS_X_count,bureau_balance_STATUS_X_count_norm,SK_ID_CURR
0,5001709,97,-48.0,0,-96,-4656,0,0.000000,0,0.000000,86,0.886598,11,0.113402,NaN
1,5001710,83,-41.0,0,-82,-3403,5,0.060241,0,0.000000,48,0.578313,30,0.361446,NaN
2,5001711,4,-1.5,0,-3,-6,3,0.750000,0,0.000000,0,0.000000,1,0.250000,NaN
3,5001712,19,-9.0,0,-18,-171,10,0.526316,0,0.000000,9,0.473684,0,0.000000,NaN
4,5001713,22,-10.5,0,-21,-231,0,0.000000,0,0.000000,0,0.000000,22,1.000000,NaN
5,5001714,15,-7.0,0,-14,-105,0,0.000000,0,0.000000,0,0.000000,15,1.000000,NaN
6,5001715,60,-29.5,0,-59,-1770,0,0.000000,0,0.000000,0,0.000000,60,1.000000,NaN
7,5001716,86,-42.5,0,-85,-3655,27,0.313953,0,0.000000,39,0.453488,20,0.232558,NaN
8,5001717,22,-10.5,0,-21,-231,17,0.772727,0,0.000000,5,0.227273,0,0.000000,NaN
9,5001718,39,-19.0,0,-38,-741,24,0.615385,2,0.051282,3,0.076923,10,0.256410,NaN
10,5001719,43,-21.0,0,-42,-903,2,0.046512,0,0.000000,41,0.953488,0,0.000000,NaN
11,5001720,36,-17.5,0,-35,-630,29,0.805556,7,0.194444,0,0.000000,0,0.000000,NaN
12,5001721,85,-42.0,0,-84,-3570,13,0.152941,0,0.000000,72,0.847059,0,0.000000,NaN
13,5001722,86,-42.5,0,-85,-3655,27,0.313953,20,0.232558,39,0.453488,0,0.000000,NaN
14,5001723,31,-15.0,0,-30,-465,8,0.258065,0,0.000000,0,0.000000,23,0.741935,NaN
15,5001724,31,-15.0,0,-30,-465,0,0.000000,0,0.000000,22,0.709677,9,0.290323,NaN
16,5001725,8,-3.5,0,-7,-28,7,0.875000,0,0.000000,0,0.000000,1,0.125000,NaN
17,5001726,39,-19.0,0,-38,-741,6,0.153846,0,0.000000,33,0.846154,0,0.000000,NaN
18,5001727,95,-47.0,0,-94,-4465,23,0.242105,0,0.000000,72,0.757895,0,0.000000,NaN
19,5001728,1,0.0,0,0,0,1,1.000000,0,0.000000,0,0.000000,0,0.000000,NaN
20,5001729,7,-3.0,0,-6,-21,6,0.857143,0,0.000000,1,0.142857,0,0.000000,NaN
21,5001730,61,-30.0,0,-60,-1830,5,0.081967,0,0.000000,56,0.918033,0,0.000000,NaN
22,5001731,11,-5.0,0,-10,-55,0,0.000000,0,0.000000,0,0.000000,11,1.000000,NaN
23,5001732,20,-18.1,0,-35,-362,0,0.000000,0,0.000000,0,0.000000,20,1.000000,NaN

In [14]:
##***** Agrega las estadísticas de prestamos por 'SK_ID_CURR'. Elimina columna 'SK_ID_BUREAU'. Para unir a train****
BureauBalance_by_client = agg_numericas(BureauBalance_by_loanMerge.drop(columns = ['SK_ID_BUREAU']), group_var = 'SK_ID_CURR', df_name = 'client')
#BureauBalance_by_client.head()
#BureauBalance_by_client.describe()
BureauBalance_by_client

Empty DataFrame
Columns: [SK_ID_CURR, client_bureau_balance_MONTHS_BALANCE_count_count, client_bureau_balance_MONTHS_BALANCE_count_mean, client_bureau_balance_MONTHS_BALANCE_count_max, client_bureau_balance_MONTHS_BALANCE_count_min, client_bureau_balance_MONTHS_BALANCE_count_sum, client_bureau_balance_MONTHS_BALANCE_mean_count, client_bureau_balance_MONTHS_BALANCE_mean_mean, client_bureau_balance_MONTHS_BALANCE_mean_max, client_bureau_balance_MONTHS_BALANCE_mean_min, client_bureau_balance_MONTHS_BALANCE_mean_sum, client_bureau_balance_MONTHS_BALANCE_max_count, client_bureau_balance_MONTHS_BALANCE_max_mean, client_bureau_balance_MONTHS_BALANCE_max_max, client_bureau_balance_MONTHS_BALANCE_max_min, client_bureau_balance_MONTHS_BALANCE_max_sum, client_bureau_balance_MONTHS_BALANCE_min_count, client_bureau_balance_MONTHS_BALANCE_min_mean, client_bureau_balance_MONTHS_BALANCE_min_max, client_bureau_balance_MONTHS_BALANCE_min_min, client_bureau_balance_MONTHS_BALANCE_min_sum, client_bureau_balance_MONTHS_BALANCE_sum_count, client_bureau_balance_MONTHS_BALANCE_sum_mean, client_bureau_balance_MONTHS_BALANCE_sum_max, client_bureau_balance_MONTHS_BALANCE_sum_min, client_bureau_balance_MONTHS_BALANCE_sum_sum, client_bureau_balance_STATUS_0_count_count, client_bureau_balance_STATUS_0_count_mean, client_bureau_balance_STATUS_0_count_max, client_bureau_balance_STATUS_0_count_min, client_bureau_balance_STATUS_0_count_sum, client_bureau_balance_STATUS_0_count_norm_count, client_bureau_balance_STATUS_0_count_norm_mean, client_bureau_balance_STATUS_0_count_norm_max, client_bureau_balance_STATUS_0_count_norm_min, client_bureau_balance_STATUS_0_count_norm_sum, client_bureau_balance_STATUS_1_count_count, client_bureau_balance_STATUS_1_count_mean, client_bureau_balance_STATUS_1_count_max, client_bureau_balance_STATUS_1_count_min, client_bureau_balance_STATUS_1_count_sum, client_bureau_balance_STATUS_1_count_norm_count, client_bureau_balance_STATUS_1_count_norm_mean, client_bureau_balance_STATUS_1_count_norm_max, client_bureau_balance_STATUS_1_count_norm_min, client_bureau_balance_STATUS_1_count_norm_sum, client_bureau_balance_STATUS_C_count_count, client_bureau_balance_STATUS_C_count_mean, client_bureau_balance_STATUS_C_count_max, client_bureau_balance_STATUS_C_count_min, client_bureau_balance_STATUS_C_count_sum, client_bureau_balance_STATUS_C_count_norm_count, client_bureau_balance_STATUS_C_count_norm_mean, client_bureau_balance_STATUS_C_count_norm_max, client_bureau_balance_STATUS_C_count_norm_min, client_bureau_balance_STATUS_C_count_norm_sum, client_bureau_balance_STATUS_X_count_count, client_bureau_balance_STATUS_X_count_mean, client_bureau_balance_STATUS_X_count_max, client_bureau_balance_STATUS_X_count_min, client_bureau_balance_STATUS_X_count_sum, client_bureau_balance_STATUS_X_count_norm_count, client_bureau_balance_STATUS_X_count_norm_mean, client_bureau_balance_STATUS_X_count_norm_max, client_bureau_balance_STATUS_X_count_norm_min, client_bureau_balance_STATUS_X_count_norm_sum]
Index: []

[0 rows x 66 columns]

In [ ]:
BureauBalance_by_client.dtypes.value_counts()

In [ ]:
# Missing values statistics
missing_values = missing_values_table(BureauBalance_by_client)
missing_values.head(20)

In [ ]:
corrs = BureauBalance_by_client.corr()
corrs

In [ ]:
corrs = corrs.sort_values('client_bureau_balance_MONTHS_BALANCE_count_mean', ascending = False)

# Ten most positive correlations
pd.DataFrame(corrs['client_bureau_balance_MONTHS_BALANCE_count_mean'].head(10))

In [ ]:
#2- Cargo fichero bureau.csv
#Bureau = pd.read_csv('/Users/LENOVO/Downloads/bureau.csv', delimiter= ',' , header=0)
#BureauSNA = Bureau.dropna()
#BureauSNA
Bureau

In [ ]:
#Se cuentan los prestamos anteriores por campo SK_ID_BUREAU y se agrupan por 'SK_ID_CURR'
Previous_loan_counts = Bureau.groupby('SK_ID_CURR', as_index=False)['SK_ID_BUREAU'].count().rename(columns = {'SK_ID_BUREAU': 'previous_loan_counts'})
Previous_loan_counts

In [ ]:
#Genera recuento y estadisticas de las variables para cada préstamo anterior eliminando columna 'SK_ID_BUREAU'y
#agrupando por campo 'SK_ID_CURR'
Bureau_agg = Bureau.drop(columns = ['SK_ID_BUREAU']).groupby('SK_ID_CURR',
as_index = False).agg(['count', 'mean', 'max', 'min', 'sum']).reset_index() 
#Bureau_agg.head()
Bureau_agg

In [ ]:
#Funcion para cambiar nombres en el df
# Lista de nombres de columna
columns = ['SK_ID_CURR']

#Itera a través de los nombres de las variables
for var in Bureau_agg.columns.levels[0]:
    # Salta el nombre de identificación
    if var != 'SK_ID_CURR':
        
        # Iterate through the stat names
        for stat in Bureau_agg.columns.levels[1][:-1]:
            # Itera a través de los nombres de estadísticas
            columns.append('bureau_%s_%s' % (var, stat))

In [ ]:
#**** Asigna la lista de nombres de columnas como los nombres de columna del marco de datos***
Bureau_agg.columns = columns
#dfBureau_agg.head()
Bureau_agg

In [ ]:
categorical = pd.get_dummies(Bureau.select_dtypes('object'))
categorical['SK_ID_CURR'] = Bureau['SK_ID_CURR']
#categorical.head()
categorical

In [ ]:
#categorical_grouped.columns.levels[0][:10]

In [ ]:
#categorical_grouped.columns.levels[1]

In [ ]:
categorical_grouped = categorical.groupby('SK_ID_CURR').agg(['sum', 'mean'])
categorical_grouped.head()

In [ ]:
group_var = 'SK_ID_CURR'

# Need to create new column names
columns = []

# Iterate through the variables names
for var in categorical_grouped.columns.levels[0]:
    # Skip the grouping variable
    if var != group_var:
        # Iterate through the stat names
        for stat in ['count', 'count_norm']:
            # Make a new column name for the variable and stat
            columns.append('%s_%s' % (var, stat))

#  Rename the columns
categorical_grouped.columns = columns

categorical_grouped.head()

In [ ]:
# Dataframe agrupando Bureau_agg con categorical_grouped por préstamo anterior
BureauAgregado_by_loan = categorical_grouped.merge(Bureau_agg, right_index = True, left_on = 'SK_ID_CURR', how = 'outer')
#BureauAgregado_by_loan.head()
#BureauAgregado_by_loan.describe()
BureauAgregado_by_loan

In [ ]:
# Missing values statistics
missing_values = missing_values_table(BureauAgregado_by_loan)
missing_values.head(20)

In [ ]:
corrs = BureauAgregado_by_loan.corr()
corrs

In [ ]:
corrs = corrs.sort_values('CREDIT_ACTIVE_Closed_count_norm', ascending = False)

# Ten most positive correlations
pd.DataFrame(corrs['CREDIT_ACTIVE_Closed_count_norm'].head(10))

In [ ]:
def agg_numeric(df, parent_var, df_name):
    """
    Agrupa y agrega los valores numéricos en un marco de datos hijo
    por la variable padre.
    
    Parameters
    --------
        df (dataframe): 
            el marco de datos hijo para calcular las estadísticas en
        parent_var (string): 
            La variable principal utilizada para agrupar y agregar
        df_name (string): 
            la variable utilizada para renombrar las columnas
        
    Return
    --------
        agg (dataframe): 
            un marco de datos con las estadísticas agregadas por el `parent_var` para
            Todas las columnas numéricas. Cada observación de la variable principal tendrá
            una fila en el marco de datos con la variable principal como índice.
            Las columnas también se renombran usando el `df_name`. Columnas con todos los duplicados.
            Se eliminan los valores.
    
    """
      
    # Elimina variables de identificación que no sean variables de agrupación
    for col in df:
        if col != parent_var and 'SK_ID' in col:
            df = df.drop(columns = col)
            
    # Solo toma las variables numéricas
    parent_ids = df[parent_var].copy()
    numeric_df = df.select_dtypes('number').copy()
    numeric_df[parent_var] = parent_ids
    
    # Agrupa por la variable especificada y calcula las estadísticas
    agg = numeric_df.groupby(parent_var).agg(['count', 'mean', 'max', 'min', 'sum'])

    # Necesita crear nuevos nombres de columna
    columns = []

    # Itera a través de los nombres de las variables
    for var in agg.columns.levels[0]:
        if var != parent_var:
            # Itera a través de los nombres de estadísticas
            for stat in agg.columns.levels[1]:
                # Genera un nuevo nombre de columna para la variable y estadística
                columns.append('%s_%s_%s' % (df_name, var, stat))
    
    agg.columns = columns
    
    # Elimina las columnas con todos los valores redundantes
    _, idx = np.unique(agg, axis = 1, return_index=True)
    agg = agg.iloc[:, idx]
    
    return agg

In [ ]:
def agg_categorical(df, parent_var, df_name):
    """
    Agrega las características categóricas en un marco de datos hijo
    para cada observación de la variable principal.
    
    Parameters
    --------
    df : dataframe 
        El marco de datos para calcular el valor cuenta.
        
    parent_var : string
        La variable por la cual agrupar y agregar el marco de datos. Para cada unico
        valor de esta variable, el marco de datos final tendrá una fila
        
    df_name : string
       Variable agregada al frente de los nombres de columna para realizar un seguimiento de las columnas

    
    Return
    --------
    categorical : dataframe
        Un marco de datos con estadísticas agregadas para cada observación de parent_var
        Las columnas también se renombran y las columnas con valores duplicados se eliminan.
        
    """
       
    # Selecciona las columnas categóricas
    categorical = pd.get_dummies(df.select_dtypes('category'))

    # Asegura poner la identificación de identificación en la columna
    categorical[parent_var] = df[parent_var]

    # Agrupa por el grupo var y calcula la suma y la media
    categorical = categorical.groupby(parent_var).agg(['sum', 'count', 'mean'])
    
    column_names = []
    
    # Iterar a través de las columnas en el nivel 0
    for var in categorical.columns.levels[0]:
        # Iterate through the stats in level 1
        for stat in ['sum', 'count', 'mean']:
            # Iterar a través de las estadísticas en el nivel 1
            column_names.append('%s_%s_%s' % (df_name, var, stat))
    
    categorical.columns = column_names
        
    # Elimina columnas duplicadas por valores
    _, idx = np.unique(categorical, axis = 1, return_index = True)
    categorical = categorical.iloc[:, idx]
    
    return categorical

In [ ]:
def aggregate_client(df, group_vars, df_names):
    """Agregar un marco de datos con datos a nivel de préstamo
    a nivel del cliente
    
    Args:
        df (dataframe): datos a nivel de préstamo
        group_vars (lista de dos cadenas): agrupando variables para el préstamo
        y luego el cliente (ejemplo ['SK_ID_PREV', 'SK_ID_CURR'])
        nombres (lista de dos cadenas): nombres para llamar a las columnas resultantes
        (ejemplo ['efectivo', 'cliente'])
        
    Returns:
        df_client (dataframe): estadísticas numéricas agregadas a nivel del cliente.
       Cada cliente tendrá una sola fila con todos los datos numéricos agregados
    """
    
    # Agrega las columnas numéricas
    df_agg = agg_numeric(df, parent_var = group_vars[0], df_name = df_names[0])
    
    # Si hay variables categóricas
    if any(df.dtypes == 'category'):
    
        # Cuenta las columnas categóricas
        df_counts = agg_categorical(df, parent_var = group_vars[0], df_name = df_names[0])

        # Fusiona la numérica y categórica
        df_by_loan = df_counts.merge(df_agg, on = group_vars[0], how = 'outer')

        gc.enable()
        del df_agg, df_counts
        gc.collect()

        # Combina para obtener la identificación del cliente en el marco de datos
        df_by_loan = df_by_loan.merge(df[[group_vars[0], group_vars[1]]], on = group_vars[0], how = 'left')

        # Elimina la identificación del préstamo
        df_by_loan = df_by_loan.drop(columns = [group_vars[0]])

        # Agrega estadísticas numéricas por columna
        df_by_client = agg_numeric(df_by_loan, parent_var = group_vars[1], df_name = df_names[1])

        
    # No hay variables categóricas
    else:
        # Combina para obtener la identificación del cliente en el marco de datos
        df_by_loan = df_agg.merge(df[[group_vars[0], group_vars[1]]], on = group_vars[0], how = 'left')
        
        gc.enable()
        del df_agg
        gc.collect()
        
        # Elimina la identificación del préstamo
        df_by_loan = df_by_loan.drop(columns = [group_vars[0]])
                
        # Agrega estadísticas numéricas por columna
        df_by_client = agg_numeric(df_by_loan, parent_var = group_vars[1], df_name = df_names[1])
        
    # Gestión de la memoria
    gc.enable()
    del df, df_by_loan
    gc.collect()

    return df_by_client

In [ ]:
#3-Cargo fichero installments_payments.csv y veo cabecera
installments_payments = pd.read_csv('/Users/LENOVO/Downloads/installments_payments.csv', delimiter= ',' , header=0)
installments_payments.head()
installments_payments
#installments_paymentsSNA = installments_payments.dropna()
#installments_paymentsSNA

In [ ]:
installments_payments.dtypes.value_counts()

In [ ]:
##***** Agrega las estadísticas de prestamos por 'SK_ID_CURR'. Elimina columna 'SK_ID_PREV'****
installments_payments_by_client = aggregate_client(installments_payments, group_vars = ['SK_ID_PREV', 'SK_ID_CURR'], df_names = ['installments', 'client'])
#installments_payments_by_client.head()
installments_payments_by_client

In [ ]:
# Missing values statistics
missing_values = missing_values_table(installments_payments_by_client)
missing_values.head(20)

In [ ]:
corrs = installments_payments_by_client.corr()
corrs

In [ ]:
corrs = corrs.sort_values('client_installments_DAYS_INSTALMENT_mean_sum', ascending = False)

# Ten most positive correlations
pd.DataFrame(corrs['client_installments_DAYS_INSTALMENT_mean_sum'].head(10))

In [ ]:
#4-Cargo fichero POS_CASH_balance.csv y veo cabecera
POS_CASH_balance = pd.read_csv('/Users/LENOVO/Downloads/POS_CASH_balance.csv', delimiter= ',' , header=0)
#POS_CASH_balance.head()
POS_CASH_balance
#POS_CASH_balanceSNA = POS_CASH_balance.dropna()
#POS_CASH_balanceSNA

In [ ]:
POS_CASH_balance.dtypes.value_counts()

In [ ]:
##***** Agrega las estadísticas de cash por 'SK_ID_CURR'. Elimina columna 'SK_ID_PREV'****
POS_CASH_balance_by_client = aggregate_client(POS_CASH_balance, group_vars = ['SK_ID_PREV', 'SK_ID_CURR'], df_names = ['cash', 'client'])
#POS_CASH_balance_by_client.head()
POS_CASH_balance_by_client

In [ ]:
# Missing values statistics
missing_values = missing_values_table(POS_CASH_balance_by_client)
missing_values.head(20)

In [ ]:
corrs = POS_CASH_balance_by_client.corr()
corrs

In [ ]:
corrs = corrs.sort_values('client_cash_CNT_INSTALMENT_min_sum', ascending = False)

# Ten most positive correlations
pd.DataFrame(corrs['client_cash_CNT_INSTALMENT_min_sum'].head(10))

In [ ]:
#5-Cargo fichero credit_card_balance.csv y veo cabecera
credit_card_balance = pd.read_csv('/Users/LENOVO/Downloads/credit_card_balance.csv', delimiter= ',' , header=0)
#credit_card_balance.head()
credit_card_balance
#credit_card_balanceSNA = credit_card_balance.dropna()
#credit_card_balanceSNA

In [ ]:
credit_card_balance.dtypes.value_counts()

In [ ]:
##***** Agrega las estadísticas de credit_card_balance por 'SK_ID_CURR'.Elimina columna 'SK_ID_PREV'
credit_card_balance_by_client = aggregate_client(credit_card_balance, group_vars = ['SK_ID_PREV', 'SK_ID_CURR'], df_names = ['credit', 'client'])
#credit_card_balance_by_client.head()
credit_card_balance_by_client

In [ ]:
# Missing values statistics
missing_values = missing_values_table(credit_card_balance_by_client)
missing_values.head(20)

In [ ]:
corrs = credit_card_balance_by_client.corr()
corrs

In [ ]:
corrs = corrs.sort_values('client_credit_MONTHS_BALANCE_min_sum', ascending = False)

# Ten most positive correlations
pd.DataFrame(corrs['client_credit_MONTHS_BALANCE_min_sum'].head(10))

In [ ]:
import sys

def return_size(df):
    """Return size of dataframe in gigabytes"""
    return round(sys.getsizeof(df) / 1e9, 2)

def convert_types(df, print_info = False):
    
    original_memory = df.memory_usage().sum()
    
    # Iterate through each column
    for c in df:
        
        # Convert ids and booleans to integers
        if ('SK_ID' in c):
            df[c] = df[c].fillna(0).astype(np.int32)
            
        # Convert objects to category
        elif (df[c].dtype == 'object') and (df[c].nunique() < df.shape[0]):
            df[c] = df[c].astype('category')
        
        # Booleans mapped to integers
        elif list(df[c].unique()) == [1, 0]:
            df[c] = df[c].astype(bool)
        
        # Float64 to float32
        elif df[c].dtype == float:
            df[c] = df[c].astype(np.float32)
            
        # Int64 to int32
        elif df[c].dtype == int:
            df[c] = df[c].astype(np.int32)
        
    new_memory = df.memory_usage().sum()
    
    if print_info:
        print(f'Original Memory Usage: {round(original_memory / 1e9, 2)} gb.')
        print(f'New Memory Usage: {round(new_memory / 1e9, 2)} gb.')
        
    return df

In [ ]:
#6-Cargo fichero previous_application.csv y veo cabecera
#previous_application = pd.read_csv('/Users/LENOVO/Downloads/previous_application.csv', delimiter= ',' , header=0)
#previous_application.head()
#previous_application
#previous_applicationSNA = previous_application.dropna()
#previous_applicationSNA
previous = pd.read_csv('/Users/LENOVO/Downloads/previous_application.csv', delimiter= ',' , header=0)
previous = convert_types(previous, print_info=True)
previous.head()

In [ ]:
#previous_application.dtypes.value_counts()
#previous_applicationSNA.dtypes.value_counts()
previous.dtypes.value_counts()

In [ ]:
# Calculate aggregate statistics for each numeric column
#previous_application_agg = agg_numeric(previous_application, 'SK_ID_CURR', 'previous')
#previous_application_agg.head()
#previous_application_agg
previous_agg = agg_numeric(previous, 'SK_ID_CURR', 'previous')
previous_agg

In [ ]:
# Calculate value counts for each categorical column
previous_counts = agg_categorical(previous, 'SK_ID_CURR', 'previous')
print('Previous counts shape: ', previous_counts.shape)
previous_counts.head()

In [ ]:
# Dataframe agrupando BureauBalance_agg con BureauBalance_counts por préstamo anterior
previous_application_ag = previous_agg.merge(previous_counts, right_index = True, left_on = 'SK_ID_CURR', how = 'outer')
previous_application_ag

In [ ]:
# Missing values statistics
missing_values = missing_values_table(previous_application_ag)
missing_values.head(20)

In [ ]:
corrs = previous_application_ag.corr()
corrs

In [ ]:
corrs = corrs.sort_values('previous_DAYS_FIRST_DUE_max', ascending = False)

# Ten most positive correlations
pd.DataFrame(corrs['previous_DAYS_FIRST_DUE_max'].head(10))

In [ ]:
#7-Cargo fichero application_train.csv y veo cabecera
train = pd.read_csv('/Users/LENOVO/Downloads/application_train.csv', delimiter= ',' , header=0)
train

In [ ]:
train['TARGET'].astype(int).plot.hist();

In [ ]:
# Missing values statistics
missing_values = missing_values_table(train)
missing_values.head(20)

In [ ]:
train.dtypes.value_counts()

In [ ]:
# Number of unique classes in each object column
train.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

In [ ]:
# Find correlations with the target and sort
correlations = train.corr()['TARGET'].sort_values()

In [ ]:
# Display correlations
print('Most Positive Correlations:\n', correlations.tail(15))
print('\nMost Negative Correlations:\n', correlations.head(15))

In [ ]:
# Join to the training dataframe BureauBalance_by_client
train = train.merge(BureauBalance_by_client, on = 'SK_ID_CURR', how = 'left')

# Fill the missing values with 0 
train['SK_ID_CURR'] = train['SK_ID_CURR'].fillna(0)
#train.head()
train

In [ ]:
missing_values = missing_values_table(train)
missing_values.head(20)

In [ ]:
train.dtypes.value_counts()

In [ ]:
correlations = train.corr()['TARGET'].sort_values()
correlations

In [ ]:
# Join to the training dataframe BureauAgregado_by_loan
train = train.merge(BureauAgregado_by_loan, on = 'SK_ID_CURR', how = 'left')
train

In [ ]:
train.dtypes.value_counts()

In [ ]:
missing_values = missing_values_table(train)
missing_values.head(20)

In [ ]:
correlations = train.corr()['TARGET'].sort_values()
correlations

In [ ]:
# Join to the training dataframe installments_payments_by_client
train = train.merge(installments_payments_by_client, on = 'SK_ID_CURR', how = 'left')
train

In [ ]:
train.dtypes.value_counts()

In [ ]:
missing_values = missing_values_table(train)
missing_values.head(20)

In [ ]:
correlations = train.corr()['TARGET'].sort_values()
correlations

In [ ]:
# Join to the training dataframe POS_CASH_balance_by_client
train = train.merge(POS_CASH_balance_by_client, on = 'SK_ID_CURR', how = 'left')
train

In [ ]:
train.dtypes.value_counts()

In [ ]:
missing_values = missing_values_table(train)
missing_values.head(20)

In [ ]:
correlations = train.corr()['TARGET'].sort_values()
correlations

In [ ]:
# Join to the training dataframe credit_card_balance_by_client
train = train.merge(credit_card_balance_by_client, on = 'SK_ID_CURR', how = 'left')
train

In [ ]:
train.dtypes.value_counts()

In [ ]:
missing_values = missing_values_table(train)
missing_values.head(20)

In [ ]:
correlations = train.corr()['TARGET'].sort_values()
correlations

In [ ]:
# Join to the training dataframe previous_application_ag
train = train.merge(previous_application_ag, on = 'SK_ID_CURR', how = 'left')
train

In [ ]:
train.dtypes.value_counts()

In [ ]:
missing_values = missing_values_table(train)
missing_values.head(20)

In [ ]:
correlations = train.corr()['TARGET'].sort_values()
correlations

In [ ]:
# Display correlations
print('Most Positive Correlations:\n', correlations.tail(15))
print('\nMost Negative Correlations:\n', correlations.head(15))

In [ ]:
# Create a label encoder object
le = preprocessing.LabelEncoder()
le_count = 0

In [ ]:
# Iterate through the columns
for col in train:
    if train[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(train[col].unique())) <= 2:
            # Train on the training data
            le.fit(train[col])
            # Transform both training and testing data
            train[col] = le.transform(train[col])
            test[col] = le.transform(test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

In [ ]:
# one-hot encoding of categorical variables
train = pd.get_dummies(train)
test  = pd.get_dummies(test )

print('Training Features shape: ', train.shape)
print('Testing Features shape: ', test.shape)

In [ ]:
train

In [ ]:
#8-Cargo fichero application_test.csv y veo cabecera
test = pd.read_csv('/Users/LENOVO/Downloads/application_test.csv', delimiter= ',' , header=0)
test

In [ ]:
test.dtypes.value_counts()

In [ ]:
missing_values = missing_values_table(test)
missing_values.head(20)

In [ ]:
# Number of unique classes in each object column
test.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

In [ ]:
# Create a label encoder object
le = preprocessing.LabelEncoder()
le_count = 0

In [ ]:
# Iterate through the columns
for col in train:
    if train[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(train[col].unique())) <= 2:
            # Train on the training data
            le.fit(train[col])
            # Transform both training and testing data
            train[col] = le.transform(train[col])
            test[col] = le.transform(test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

In [ ]:
# one-hot encoding of categorical variables
train = pd.get_dummies(train)
test  = pd.get_dummies(test )

print('Training Features shape: ', train.shape)
print('Testing Features shape: ', test.shape)

In [ ]:
train_labels = train['TARGET']

# Align the training and testing data, keep only columns present in both dataframes
train, test = train.align(test, join = 'inner', axis = 1)

# Add the target back in
train['TARGET'] = train_labels

print('Training Features shape: ', train.shape)
print('Testing Features shape: ', test.shape)